code{
   background: #2db34a; 
   color: #fff;
   border-radius: 6px;
   display: block;
   font: 14px/24px "Courier New";
   padding: 24px 15px;
   text-align: center;
}
header,
section,
aside,
footer{
    margin: 0 1.5% 24px 1.5%;
}
footer{
    margin-bottom: 0px;
}
section{
    display: inline-block;
    width: 29.99%;
}
aside{
    float: right;
    margin: 0 1.5%;
    width: 30%;
}
.color{
    background-color: blue;
    color: crimson;
}
h3{
    border: 1px solid blue;
    width: 30%;
    text-align: center;
    display: inline-block;
}